body {
    margin: 0;
    font-family: serif;
}

h1 {
    text-align: center;
}

#header-buttons {
    text-align: center;  
}

.container {
    text-align: center;
}

#shopping-list {
    text-align: cener;
}